<div class="container">
  <%= bootstrap_form_for :anything, url: "home/import/sources" do |f|%>
    <div class="hero-unit">

      <div class="row">
        <div class="col-md-6 pull-right">
        <%=f.select '' ,options_for_select([['Sri Lanka', 'SL'], ['United State of America', 'US'],['Australia','AUS']]) %>
        </div>
        <div class="col-md-6 pull-left">
            <%=f.select '' ,options_for_select([['Published', '1'], ['relevents', '2'],['popularity','3']]) %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <%= f.submit :'Import Sources', class: 'btn btn-success col-md-12'%>
        </div>
      </div>

    </div>
  <% end %>
</div>